node_modules/
dist/
build/
.env
.env.*
.idea/
.vscode/
*.log
debug.log*
.DS_Store
tmp/
logs/
coverage/
.sass-cache/
yarn.lock
npm-debug.log
*.tgz
*.swp
*.swo
*.bak
*.tmp
.history
# Docker
*.pid
docker-volumes/
backend_logs.txt
